.container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: var(--bgContentDark);
  width: 98%;
  min-height: 400px;
  height: min-content;
  color: var(--lightText);
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.title {
  color: var(--accentTwo);
}

.url {
  color: var(--accentTwo);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

:hover.url {
  text-decoration: underline;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.desc,
.comments > .github,
.comments > span {
  color: var(--comment);
}

.github {
  text-decoration: none;
}

:hover.github {
  text-decoration: underline;
}

.imgContainer {
  min-height: 350px;
  min-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image,
.imageNoUrl {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

:hover.image {
  transform: scale(1.05);
  opacity: 0.62;
}

.viewText {
  color: var(--lightText);
  position: absolute;
  top: calc(50% - 47px / 2);
  left: calc(50% - 185.53px / 2);
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-size: 25px;
  opacity: 0;
}

.viewText {
  pointer-events: none;
  width: 185.53px;
  height: 47px;
}

.image:hover + .viewText {
  opacity: 1;
}

.desc {
  margin-bottom: 20px;
}

.icon {
  transition: all 0.3s ease-in-out;
}

:hover.icon {
  transform: scale(1.05);
}

.exit {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}

:hover.exit {
  transform: scale(1.4);
  color: var(--accentTwo);
}

@media screen and (max-width: 1280px) {
  .url {
    font-size: 14px;
  }

  .comments {
    font-size: 14px;
  }

  .desc {
    font-size: 14px;
  }
}
