.container {
  position: absolute;
  right: 0px;
  top: 170px;
  display: flex;
  align-self: center;
}

.wrapper {
  position: relative;
}

.tab {
  position: absolute;
  background-color: var(--bg);
  padding: 10px 20px 70px 20px;
  transform: rotate(90deg);
  border-radius: var(--rounded);
  box-shadow: var(--dropShadow);
  min-width: 120px;
  text-align: center;
  font-family: var(--font-code);
  font-weight: 300;
  font-size: 20px;
  min-width: 150px;
  min-height: 150px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  right: -50px;
}

.tab:nth-child(1) {
  top: 30px;
}

.tab:nth-child(2) {
  top: 165px;
}

.tab:nth-child(3) {
  top: 300px;
}

.tab:nth-child(1):hover {
  right: -80px;
}

.tab:nth-child(2):hover {
  right: -80px;
}

.tab:nth-child(3):hover {
  right: -80px;
}

.active {
  /* right: -55px !important; */
  color: var(--accentOne);
}

@media screen and (max-width: 1536px) {
  .tab {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 120px;
    min-height: 120px;
  }

  .tab:nth-child(1) {
    top: 0px;
    right: -40px;
  }

  .tab:nth-child(2) {
    top: 110px;
    right: -40px;
  }

  .tab:nth-child(3) {
    top: 220px;
    right: -40px;
  }

  .active {
    right: -30px;
  }
}

@media screen and (max-width: 1280px) {
  .tab {
    font-size: 14px;
  }

  .tab:nth-child(1):hover {
    right: -60px;
  }

  .tab:nth-child(2):hover {
    right: -60px;
  }

  .tab:nth-child(3):hover {
    right: -60px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    right: calc(50% - 300px / 2);
    top: calc(100% - 80px);
  }

  .wrapper {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .tab {
    transform: rotate(0deg);
    position: relative;
    margin-right: -12px;
    padding-top: 90px;
    padding-bottom: 15px;
    min-width: 110px;
  }

  .tab:nth-child(1) {
    top: 0px;
    left: 0px;
    right: auto;
  }

  .tab:nth-child(2) {
    top: 0px;
    right: 0px;
  }

  .tab:nth-child(3) {
    top: 0px;
    right: 0px;
  }

  .tab:nth-child(1):hover {
    transform: translateY(15px);
  }

  .tab:nth-child(2):hover {
    transform: translateY(15px);
    right: 0px;
  }

  .tab:nth-child(3):hover {
    transform: translateY(15px);
    right: 0px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    right: calc(50% - 260px / 2);
  }

  .tab {
    font-size: 12px;
    min-width: 100px;
  }
}
