/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --bg: white;
  --bgFun: linear-gradient(120deg, #dd9bfb, #4175d6);
  --titleColor: #fff494;
  --accentOne: #4175d6;
  --accentTwo: #ffdc50;
  --rounded: 20px;
  --bgContent: #212121;
  --lightBg: #4c4c4c;
  --dropShadow: rgba(33, 33, 33, 0.35) 0px 10px 30px 0px;
  --lightText: #f5f5f5;
  --bgContentDark: #141414;
  --comment: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  min-width: 100vw;
  min-height: 100vh;
} */

body {
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-monoton);
}

.container {
  background: var(--bgFun);
  min-height: 100vh;
  min-width: 100vw !important;
}

.wrapper {
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 100vh;
  display: flex;
}

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-scrollbar::before {
  background-color: var(--lightBg) !important;
  min-height: 100px;
  border-radius: 0px !important;
  width: 20px !important;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 0px;
  }
}
