.container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  place-self: center;
  justify-content: center;
  height: min-content;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 97%;
  }

  .wrapper {
    padding-right: 0px;
  }
}
